.contact .background-b-w{
    order: 1;
}
.contact .left-CMS{
    order: 2;
}





/* ---------- FORM ---------- */
form {
    width: 400px;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 20px;
}

textarea{
    resize: none;
}

input[type="text"],
textarea,
input[type="email"] {
    border: none;
    background-color: var(--beige);
    border-bottom: 2px solid var(--black);
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus {
    outline: none;
    border-bottom: 2px solid var(--green);
}

::placeholder {
    color: var(--green);
    text-align: left;
}

.formulaire{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:100px;
}






/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 768px) {
    .contact .left-CMS{
        order: 1;
        padding-left: 40px;
        padding-right: 40px;

    }
    
    .contact .background-b-w{
        order: 2;
    }

    form{
        width: 300px;
    }

    .contact img{
        max-width: 350px;
        overflow: hidden;
    }

    .contact .gap1{
        gap: 20px;
    }
}
