.catch{
    text-align: center;
    width: 60%;
    padding: 10px;
}


.section-second{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 80px;

}

.section-first-content{
    flex: 1;
    max-width: 500px;
}

.section-first-content1{
    flex: 1;
    max-width: 500px;
}
.presentation-text{
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
}






/* AVIS */

.review{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
}

.review-name {
    color: var(--black);
    font-size: 12px;
    text-align: start;
}

.review-text {
    max-width: 100%; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal;
    text-align: start;
    color: var(--black);
}


.space{
    gap: 30px;
    margin-bottom: 30px;
}


.center img{
    cursor: pointer;
}


.stars{
    height: 19px;
    width: 106px;
}