html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    overflow-x: hidden;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gap1{
    gap: 80px;
}
.gap2{
    gap: 30px;
}

.marg2{
    margin-top: 50px;
    margin-bottom: 50px;
}

.simple-center{
   text-align: center;
}

.align{
    display: flex;
    justify-content: center;
}

.pad3{
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad1{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-CMS{
    padding-top: 0px;
    flex-wrap: wrap;
}

.left-CMS{
    text-align: left;
    display: flex;
    align-items: center;
    max-width: 500px;
    z-index: 2;
}



.beige{
    background-color: var(--beige);
}

.white{
    background-color: var(--white);
}


.stairs-white{
    display: flex;
    
    
}


.background-b-w img{
    z-index: 1;
    margin-left: -70px;
    left: 0;
    max-width: 600px;
}

iframe{
    z-index: 999;
}