/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Poppins-devanagari.woff2') format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Poppins-devanagari.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Poppins-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* devanagari */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Kalam-devanagari.woff2') format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Kalam-latin-ext.woff2') format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Kalam-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}





body{
    font-family: 'Poppins', sans-serif;
}

/* ---------- H ---------- */

h2, .center-text{
    font-family: 'Kalam', sans-serif;
}
h1{
    font-size: 20px;
    color: var(--dark-green);
    margin: 20px;
    font-weight: bold;
}
.h1-2{
    font-size: 35px;
    margin: 0px;
    font-family: 'Kalam', sans-serif;
}
h2{
    font-size: 25px;
    color: var(--dark-green);
    margin-top: 10px;
    margin-bottom:  20px;
}
h3{
    font-size: 15px;
    color: var(--green2);
}
h4{
    font-size: 22px;
    color: var(--white);
    font-weight: bold;
}





/* ---------- P ---------- */
p{
    font-size: 15px;
    color: var(--dark-green);
    line-height: 23px;
}

.p2{
    font-size: 15px;
    color: var(--beige);
    
}

.p3{
    color: var(--black);
}

.p3 p {
    color: var(--black);
}
.p4{
    font-size: 22px ;
    color: var(--dark-green);
    font-weight: bolder;
}


.p5 p{
    font-size: 12px ;
    color: var(--green);
}





/* ---------- OTHERS ---------- */
.footer-precision{
    font-size: 22px;
}

.main-text{
    line-height: 50px;
    font-weight: bold;
}
